*{
    box-sizing: border-box ;
}
body{
    margin: 0px;
}
header{
    text-align: center;
    padding: 25px;
    font-size: 30px;
    background-color: rgb(170, 170, 170);
}   
.navbar a{
    text-decoration: none;
    color: black;
}
.navbar li{
    list-style-type: none;
}
.navbar{
    height: 50px;
    background-color: rgb(69, 69, 69);
}
aside{
    width: 20%;
    float: left;
    padding: 10px;
}
section{
    width: 40%;
    float: left;
    padding: 10px;
}
article{
    width: 40%;
    float: left;
    padding: 10px;
}
footer{
    display: block;
    clear: both;  /* This will basically clear out the float  */
    background-color: rgb(195, 195, 195);
    text-align: center;
    padding: 25px;
}
@media screen and (max-width: 600px){
    aside, section, article{
        width: 100%;
    }
}