<!-- ejs is the same as html -->
<!-- the difference between public and views is tha it does not give access without auth. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/top-menu.ejs') %>
    <h1>this is the home page</h1>
</body>
</html>


"Make an express server and it should open all your previous assignments"